.content_section{
  min-height: 500px;
}

.category .card-img-overlay {
  background-image: linear-gradient(to bottom right, rgba(47, 42, 42, 0.4), rgb(255, 255, 255,0));
  cursor: pointer;
}

.category .card-img-overlay:hover{
  box-shadow: 0 10px 15px 0 rgba(7, 178, 246, 0.2), 0 6px 20px 0 rgba(9, 24, 235, 0.19);
}